.main-content {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.button-primary {
  height: 2.25rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.button-primary:hover {
  filter: brightness(90%);
}

.input-primary {
  height: 2rem;
  background-color: var(--color-dark-gray);
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  font-size: 16px;
  color: var(--color-white);
  padding-left: .5rem;
}

.card-gray {
  box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
  border-radius: 4px;
  background-color: var(--color-dark-gray);
  padding: .5rem;
}

.card-black {
  background-color: var(--color-smoky-black);
  border-radius: 4px;
  padding: .5rem;
}

.textarea {
  width: 100%;
  min-height: 8.25rem;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: .5rem;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid var(--color-gray);
}

.textarea:focus {
  outline: none;
}

.textarea::-webkit-scrollbar {
  width: 10px;
}

.textarea::-webkit-scrollbar-track {
  background: transparent;
  border: solid 3px transparent;
}
.textarea::-webkit-scrollbar-thumb {
  background: var(--color-smoky-black);
  border-radius: 4px;
  border: solid 3px transparent;
}