.main-content {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.button-primary {
  height: 2.25rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.button-primary:hover {
  filter: brightness(90%);
}

.input-primary {
  height: 2rem;
  background-color: var(--color-dark-gray);
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  font-size: 16px;
  color: var(--color-white);
  padding-left: .5rem;
}

.card-gray {
  box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
  border-radius: 4px;
  background-color: var(--color-dark-gray);
  padding: .5rem;
}

.card-black {
  background-color: var(--color-smoky-black);
  border-radius: 4px;
  padding: .5rem;
}

.textarea {
  width: 100%;
  min-height: 8.25rem;
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: .5rem;
  border-radius: 4px;
  resize: vertical;
  border: 1px solid var(--color-gray);
}

.textarea:focus {
  outline: none;
}

.textarea::-webkit-scrollbar {
  width: 10px;
}

.textarea::-webkit-scrollbar-track {
  background: transparent;
  border: solid 3px transparent;
}
.textarea::-webkit-scrollbar-thumb {
  background: var(--color-smoky-black);
  border-radius: 4px;
  border: solid 3px transparent;
}

.sheet-input-size {
  width: 3.25rem;
  height: 2.25rem;
}

.sheet-input {
  color: var(--color-white);
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--color-white);
  font-size: 14px;
  font-weight: bold;
}

.sheet-subtitle {
  font-size: 14px;
  color: var(--color-off-white);
  margin: 0;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal-header h2 {
  margin: 0;
}

.modal-header button {
  background: none;
  border: none;
  cursor: pointer;
}

.modal-content {
  background-color: var(--color-light-black);
  border-radius: 4px;
  padding: 1rem;
}

.modal-body {
  overflow-y: scroll;
  max-height: 32rem;
  padding-right: .5rem;
}

.modal-body::-webkit-scrollbar {
  width: 10px;
}

.modal-body::-webkit-scrollbar-track {
  background: transparent;
  border: solid 3px transparent;
}

.modal-body::-webkit-scrollbar-thumb {
  background: var(--color-smoky-black);
  border-radius: 4px;
  border: solid 3px transparent;
}

.button-remove {
  background-color: transparent;
  border: none;
  color: var(--color-red);
  cursor: pointer;
  padding: 0;
  font-size: 10px;
}

.button-remove:hover {
  filter: brightness(90%);
}