*, *::after, *::before {
  box-sizing: border-box; 
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-smoky-black);
  line-height: 1.6;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-smoky-black);
}

::-webkit-scrollbar-thumb {
  background: var(--color-dark-gray);
  border-radius: 4px;
}

input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type=number] {
  appearance: textfield;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--color-white);
}

p {
  text-align: justify;
}

p span {
  color: var(--color-primary);
}

p strong {
  font-weight: normal;
  color: var(--color-primary);
}

button {
  font-family: 'Roboto', sans-serif;
}

button:disabled {
  background-color: var(--color-light-black);
  color: var(--color-off-white);
  cursor: auto;
}

button:disabled:hover {
  filter: none;
}

input {
  font-family: 'Roboto', sans-serif;
}