@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::after, *::before {
  box-sizing: border-box; 
}

:root {
  --color-primary: #A347FF;
  --color-secondary: #7000AC;
  --color-smoky-black: #121212;
  --color-dark-gray: rgba(255, 255, 255, 0.05);
  --color-white: #fff;
  --color-gray: rgba(255, 255, 255, 0.7);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-smoky-black);
  line-height: 1.6;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--color-white);
}

.flex {
  display: flex;
}

.button-primary {
  height: 2.5rem;
  min-width: 6rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.button-primary:hover {
  filter: brightness(90%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}